.nav1 {
    width: 97%;
    margin: auto;
    background-color: #f72210;
    color:#fff;
}

.nav1 p {
    margin: auto 30px;
}

.title {
    color: #fff;
    font-size: 90px;
    font-weight: bold;
}

.title:hover {
    text-decoration: none;
    color: #fff;
}

.nav2 , .nav3 {
    width: 97%;
    margin: 10px auto;
}

.nav2 a {
    text-decoration: none;
    border-right: 1px solid #aaa;
    font-weight: bold;
    padding: 5px 10px;
    color: #000;
}

.nav2 a:hover {
    text-decoration: none;
    color: #f72210;
}

.nav3 a {
    text-decoration: none;
    color: #aaa;
    font-weight: bold;
    padding: 5px 10px;
}

.nav3 a:hover {
    text-decoration: none;
    color: #f72210;
}

.login{
    background-color: #f72210;
    border: none;
    color: #fff;

}

.buttons {
    margin: auto 30px;
}

.subscribe {
    background-color: #ffe400;
    border:none;
    border-radius: 20%;
    font-weight: bold;
    padding:0 10px;
}

footer {
    width: 97%;
    margin: auto;
}

.footer1 span {
color: gray;
font-size: 16px;
}

#NewsWeek_footer {
    color: orangered;
    font-size: 40px;
    font-weight: bolder;
}

.icons i {
    color: #555;
    margin: 0 4px;
}

.icons i:hover {
color: #007bff;
}

.footer2 a, .footer3 a {
    color: #aaa;
    text-decoration: none;
    border-right: 1px solid lightgray;
    padding: 0 10px;
}

.footer2 a:hover, .footer3 a:hover {
    color: #000;
}