.nav1 {
    width: 97%;
    margin: auto;
    background-color: #f72210;
    color:#fff;
}

.nav1 p {
    margin: auto 30px;
}

.title {
    color: #fff;
    font-size: 90px;
    font-weight: bold;
}

.title:hover {
    text-decoration: none;
    color: #fff;
}

.nav2 , .nav3 {
    width: 97%;
    margin: 10px auto;
}

.nav2 a {
    text-decoration: none;
    border-right: 1px solid #aaa;
    font-weight: bold;
    padding: 5px 10px;
    color: #000;
}

.nav2 a:hover {
    text-decoration: none;
    color: #f72210;
}

.nav3 a {
    text-decoration: none;
    color: #aaa;
    font-weight: bold;
    padding: 5px 10px;
}

.nav3 a:hover {
    text-decoration: none;
    color: #f72210;
}

.login{
    background-color: #f72210;
    border: none;
    color: #fff;

}

.buttons {
    margin: auto 30px;
}

.subscribe {
    background-color: #ffe400;
    border:none;
    border-radius: 20%;
    font-weight: bold;
    padding:0 10px;
}

footer {
    width: 97%;
    margin: auto;
}
